$primaryText: #ebebeb;
$secondaryText: #b6b6b6;
$primaryBg: #141418;
$secondaryBg: #292929;
$thirdBg: #1a1a1f;
$transitionspeed: 500ms;
$font-stack: 'Exo 2', sans-serif;
$font-size: 18px;
$symbolColor: #fdcc0d;
$lineheight: 2.5rem; 

:root {
    font-size: $font-size;
    font-family: $font-stack;
}

body {
	color: $primaryText;
	background: $primaryBg;
	margin: 0;
    padding: 0; 
	&::-webkit-scrollbar {
		width: 0.25rem;
	}
	&::-webkit-scrollbar-track {
		background: $primaryBg;
	}
	&::-webkit-scrollbar-thumb {
		background: $primaryText;
	}
}
#app {
	margin-left: 8rem;
	padding: 1rem;
	max-width: 70%;
}
.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: $secondaryBg;
	transition: width 200ms ease;
	&:hover {
		width: 16rem;
		.link__text {
			display: block;
		}
		.logo-item {
			svg {
				transform: rotate(-180deg);
			}
		}
	}
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.logo-item {
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: $primaryText;
	background: $thirdBg;
	letter-spacing: 0.4ch;
	width: 100%;
	svg {
		transform: rotate(0deg);
		transition: transform $transitionspeed;
	}
}
.nav-item {
	width: 100%;
	&:last-child {
		margin-top: auto;
	}
}
.nav__link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: $primaryText;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.6);
	transition: $transitionspeed;
	&:hover {
		background-color: $thirdBg; 
		filter: grayscale(0%) opacity(1);
	}
	svg {
		min-width: 2rem;
		margin: 0 1.5rem;
		min-width: 2rem;
	}
}
#universeActive {
	filter: grayscale(0%) opacity(1);
}
.link__text {
	display: none;
	margin-left: 1rem;
}
.fa-primary, .fa-secondary {
	color: $symbolColor;
	transition: $transitionspeed;
}
#staticContainer {
	p {
		line-height: $lineheight;
	}
}
table {
	border-collapse: collapse;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden; 
	box-shadow: 0 0 30px 0 rgba($color: $primaryText, $alpha: 0.4);
	background-color: $secondaryBg;
	margin: 50px 0; 
	font-size: 1.2em; 
	min-width: 500px;
	thead {
		background-color: $primaryText; 
		color: $primaryBg;
		text-align: left;
		font-weight: bold;
	}
	td, th {
		padding: 16px 12px; 
	}
}

.errorWrapper {
	display: flex; 
	flex-direction: column;
	height: 30rem;
	align-items: center;
	justify-content: space-around;
	img {
		margin: 40px 0; 
	}
	a {
		text-decoration: none;
		font-weight: bold;
		font-size: 20px; 
		color: $symbolColor;
	}
}